<footer class="footer  p-10 bg-accent text-white">
    <div>
        <img class="block lg:block h-20 w-auto" src="assets/logo.png" alt="logo">
    </div>

    <div>
        <span class="footer-title">Help</span>
        <a class="link link-hover">Support</a>
        <a class="link link-hover">Knowledgebase</a>
        <a class="link link-hover">Privacy terms</a>
        <a class="link link-hover">Advertisement</a>
    </div>
    <div>
        <span class="footer-title">Sell on JwtAuth</span>
        <a class="link link-hover">Register as a seller</a>
        <a class="link link-hover">Contact us</a>

    </div>
    <div>
        <span class="footer-title">Company</span>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Careers</a>
        <a class="link link-hover">Contact us</a>

    </div>
    <div>
        <span class="footer-title">Contact us</span>
        <a class="link link-hover">info&#64;moolahmate.com</a>
        <a class="link link-hover">1-800-200-300</a>
        <a class="link link-hover">3500 Deer Creek Rd
            Palo Alto, CA</a>
    </div>
</footer>
<footer class="footer pl-10 bg-accent text-white">
    <div class="items-center grid-flow-col">
        <div class="grid grid-rows-3 grid-flow-col gap-4">

            <span class="footer-title">Join us</span>
            <div class="grid grid-flow-col">
                <div class="link link-hover">
                    <i class="fa fa-twitter text-2xl" aria-hidden="true"></i>
                </div>
                <div class="link link-hover">
                    <i class="fa fa-facebook text-2xl" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
    <div class=" grid-flow-col">
        <div class="grid grid-rows-3 grid-flow-col">
            <span class="footer-title text-center">Get the app on</span>
            <div class="items-center grid grid-flow-col">
                <img class="block lg:block h-14 w-auto" src="assets/google.svg" alt="google">
                <img class="block lg:block h-10 w-auto" src="assets/apple.svg" alt="apple">
            </div>
            <p class="text-center pt-2">© Copyright moolahmate</p>
        </div>
    </div>
</footer>