<div class="container mx-auto sm:px-4 mb-4">
    <div class="flex flex-wrap  items-center">
        <div class="w-2/5 mx-auto">
            <div class="card w-full bg-neutral shadow-xl">
                <lib-loader></lib-loader>
                <div class="card-body">
                    <h1 class="card-title">Forgot Password</h1>
                    <form class="space-y-6" [formGroup]="form">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium">
                                Email</label>
                            <input type="email" formControlName="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                placeholder="name@gmail.com" required>
                            <div *ngIf="f['email'].touched && f['email'].invalid">
                                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                                    Email is required
                                </div>
                                <div *ngIf="f['email'].errors && f['email'].errors['email']">
                                    Please, enter a valid email address
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="card-actions justify-center">
                        <button type="submit" class="btn btn-primary btn-block disabled:bg-gray-500 disabled:text-white"
                            [disabled]="!form.valid" (click)="reset(form.value)">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>