<div class="container mx-auto sm:px-4 mb-4">
    <div class="flex flex-wrap  items-center">
        <div class="w-2/5 mx-auto">
            <div class="card w-full bg-neutral shadow-xl">
                <div class="card-body">

                    <form class="space-y-6" [formGroup]="form">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium">
                                Email</label>
                            <input type="email" formControlName="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                placeholder="name@gmail.com" required>
                            <div *ngIf="f['email'].touched && f['email'].invalid">
                                <div *ngIf="f['email'].errors && f['email'].hasError('required')">
                                    Email is required
                                </div>
                                <div *ngIf="f['email'].errors && f['email'].errors['email']">
                                    Please, enter a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="relative">
                            <label for="password"
                                class="block mb-2 text-sm font-medium">
                                Password</label>
                            <input [type]=" showPassword ? 'text' : 'password' " formControlName="password"
                                id="password" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                required>
                            <div class="absolute inset-y-0 right-0 pr-3 flex items-center ">
                                <i class="mt-7 fa fa-eye show-option px-2 py-1" aria-hidden="true"
                                    (click)="showPassword =! showPassword" *ngIf="!showPassword"></i>
                                <i class="mt-7 fa fa-eye-slash hide-option px-2 py-1" aria-hidden="true"
                                    (click)="showPassword =! showPassword" *ngIf="showPassword"></i>
                            </div>

                            <div *ngIf="f['password'].touched && f['password'].invalid">
                                <div *ngIf="f['password'].touched && f['password'].hasError('required')">
                                    Password is required
                                </div>
                            </div>

                        </div>

                        <div class="flex justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
    
                                </div>
                                <label for="remember"
                                    class="ml-2 text-sm font-medium"></label>
                            </div>
                            <a [routerLink]="'/auth/forgot-password'"
                                class="text-sm text-blue-700 hover:underline dark:text-blue-500">Lost
                                Password?</a>
                        </div>

                        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                            Not registered? <a [routerLink]="'/auth/signup'"
                                class="text-blue-700 hover:underline dark:text-blue-500">Create
                                account</a>
                        </div>
                    </form>
                    <div class="card-actions justify-center">
                        <button type="submit" class="btn btn-primary btn-block disabled:bg-gray-500 disabled:text-white"
                            [disabled]="!form.valid" (click)="signin(form.value)">Signin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>