<form [formGroup]="form" (ngSubmit)="register()" >

    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input
            type="text"
            class="form-control"
            placeholder=""
            formControlName="name"
        />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input
            type="text"
            class="form-control"
            placeholder=""
            formControlName="email"
        />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input
            type="text"
            class="form-control"
            placeholder=""
            formControlName="password"
        />
    </div>
    <button type="submit" [disabled]="!form.valid">
        Save
    </button>
</form>
